<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>

    <!-- ENCABEZADO -->
    <header>
        <nav class="navbar-container">
          <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" width="180" alt="Logo">
          </div>
          <div class="container-search">
          <form>
              <input type="search" placeholder="Ingrese lo que desee buscar" class="search-input">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
          <p class="slogan"> <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
          <ul class="nav-list">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="user-list">
              <li><a href="/register">Creá tu cuenta <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i></a></li>
              <li><a href="/login">Ingresá <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i></a></li>
              <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i></a></li>
          </ul>
          <div class="burger-menu">
              <i class="fas fa-bars"></i>
              </div>
      </nav>
      </header>

    <!-- MAIN - FORM -->

      <section class="login-container">
        <form action="/login" method="GET">
            <div class="input-usuario">
                <input type="text" name="user-login" placeholder="Ingresá tu usuario">
            </div>
            <div class="input-contraseña">
                <input type="text" name="password-login" placeholder="Ingresá tu contraseña">
            </div>
            <button type="submit">
                <span>Enviar</span>
            </button>
            <button type="reset">
                <span>Borrar</span>
            </button>
        </form>
     </section>

    <!-- FOOTER - PIE DE PAGINA -->
    <footer>
        <div class="footer-content">
          <div class="tarjeta-info">
              <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>
              <h3>Pagá con tarjeta o en efectivo</h3>
              <p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>
          <div class="envios-info">
              <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>
              <h3>Envío gratis desde los $ 2.500</h3>
              <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
          </div>
          <div class="seguridad-info">
              <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>
              <h3>Seguridad de principio a fin</h3>
              <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegido.</p>
          </div>
          </div>
          <div class="copy-footer">
            <p>
              Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
            </div>
      </footer>
      <script src="https://kit.fontawesome.com/4e61ee30bd.js" crossorigin="anonymous"></script>
</body>
</html>