* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ebebeb;;
    font-family:'Roboto';
}

/* ----------- ENCABEZADO ---------- */

header {
    background-color: #EAC926;
    width: 100%;
}

.navbar-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: 1;
    grid-column: 3;
}

.navbar-container ul li, a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: 2;
    grid-column: 3;
    margin: 10px;
    gap: 10px;
}

.nav-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2;
    grid-column: 1;
    margin: 10px;
    gap: 10px;
}

.container-search {
    grid-area: 1;
    grid-column: 2;
    width: auto;
    height: auto;
    margin: 10px;
}


.container-search form {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    display: flex;
}

.container-search input {
    border-radius: 3px;
    padding: 10px;
    border: 0;
    width: 100%;
    border-right: 1px solid rgb(160, 160, 160);
    outline: 0;
}

.container-search button {
    margin: 5px;
    width: 10%;
    border: 0;
    background-color: white;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.burger-menu i {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
}

/* --------------- MAIN -------------- */

main {
    width: 100%;

}

.title-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;
}

.caja-productos {
    gap: 20px;
    padding: 50px;
}

.caja-productos h1 {
    font-size: 24px;
    text-align: center;
}

.producto h2 {
    font-size: 18px;
}

.producto {
    height: 380px;
    max-width: 250px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.producto img {
    margin: 10px;
    height: 250px;
    max-width: 210px;
    width: auto;
    border-bottom: solid #ebebeb 1px;
}

.info-producto {
    position: relative;
    bottom: 30px;
    display: inline-flex;
    gap: 10px;
    margin: 10px;
}

.info-producto p{
    color: green;
}

.producto-descripcion {
    position: relative;
    opacity: 0;
    bottom: 30px;
}

.producto:hover .producto-descripcion{
    opacity: 1;
}

.camion-caja {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 180px;
    bottom: 30px;
    border: 1px green solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border-width: 1px;
}

.logo-camion {
    color: green;
}

.logo-camion:hover {
    animation: camion linear 2s 1;
    transition: 0.5s ease;
}

@keyframes camion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #EAC926;
}

.footer-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    text-align: center;
}

.footer-content i {
    color: blue;
}

.tarjeta-info {
    margin: 50px;
}

.envios-info {
    margin: 50px;
}

.seguridad-info {
    margin: 50px;
}

/* ------- MEDIA QUERIES ------ */
/* TABLETS */

@media screen and (max-width : 414px) {

    .caja-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .lista-productos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .slogan {
        display: flex;
        grid-area: 2;
        grid-column: span 2;
    }

    .logo img {
        width: 150px;
    }
    
    .burger-menu {
        display: flex;
        grid-area: 3;
        grid-column: span 2;
    }

    .producto-descripcion p{
        display: none;
    }

    .navbar-container ul, li, a{
        display: none;
    }

}

/* TABLET */

@media screen and (min-width: 415px) {

    .lista-productos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .slogan {
        display: flex;
        text-align: center;
        grid-area: 2;
        grid-column: 2;
    }
    
}

@media screen and (min-width: 850px) {

    .lista-productos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slogan {
        display: flex;
        text-align: center;
        grid-area: 1;
        grid-column: 3;
    }

}

@media screen and (max-width: 583px) {

    .lista-productos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        position: static;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-content {
            display: flex;
            flex-wrap: wrap;
    }
}

/* DESKTOP */

@media screen and (min-width: 415px) {

    .lista-productos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caja-productos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        flex-wrap: wrap;
    }

    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .burger-menu {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}